body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', serif;
}
.qtrue {
    background-color: #66CC33;
}

.qfalse {
    background-color: #F11515;
}

pre {
    word-wrap: break-word;
}

#quescode {
    display: none;
}
#done {
    height: 25px;
    background-color: #50FF5D;
    font-size: 13px;
    line-height: 25px;
}
#myspace {
    padding: 3px 3px 3px 10px;
    height: 31px;
    line-height: 31px;
    background-color: #A5FFDE;
}
#text {
    padding: 10px;
    font-size: 15px;
}
#text pre {
    margin: 0;
    padding: 0;
}
#footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}

.button {
    width: 33.3333%;
    padding: 10px;
    text-align: center;
    display: block;
    float: left;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: 0;
}
#viewbutton {
    background-color: #0084FF;
}
#checkbutton {
    background-color: #3DC360;
}
#nextbutton {
    background-color: #EA8C4B;
}
#mess {
    width:100%;
    height: 20px;
    text-align:center;
    color:white;
}

#header {
    position: fixed;
    width: 100%;
    top: 0;
}
#body {
    position: fixed;
    width: 100%;
    top: 62px;
    bottom: 58px;
    overflow: auto;
}
.pull-right {
    float: right;
}
#setting {
    width: 100px;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 13px;
    border-radius: 6px;
    background-color: #838EE2;
}
#panel-setting {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #B9EAC2;
    padding: 20px;
    overflow: auto;
}

.input-text {
    padding: 5px;
    font-size: 20px;
    width: 80px;
    margin-left: 20px;
}
#btnOK {
    background-color: #45A0F5;
    display: inline-block;
    float: none;
}
table {
    border-collapse: collapse;
    width: 100%;
}
table td {
    border: solid 2px #ccc;
    padding: 5px;
}
#btnReset {
    background-color: red;
}
#btnImport {
    background-color: #3969C7;
}
.button:disabled {
    background-color: #ccc !important;
}
table label {
    display: block;
}